.container{
  max-width: 1080px;
  margin: 20px auto;
}
img {
	width: 40px;
	height: auto;
	vertical-align: middle; /*  very important, otherwise there is a gap at the bottom  */
	border: 0;
}
.inner-container{
	width: 600px;
	height: 410px;
	margin: 2em auto;
	box-shadow: 2px 2px 6px 3px #888;
	border-radius: 20px;
	background-color: #fff;
}